In [2]:
import datetime as dt
import pandas as pd

### Calculate deltas for grouped / timestamped data

In [4]:
data = [
    ('url1', dt.datetime(2018, 8, 15, 0, 0), 'tw', 1),
    ('url1', dt.datetime(2018, 8, 15, 0, 5), 'tw', 4),
    ('url1', dt.datetime(2018, 8, 15, 0, 11), 'tw', 5),
    ('url1', dt.datetime(2018, 8, 15, 0, 18), 'tw', 8),
    ('url1', dt.datetime(2018, 8, 15, 0, 21), 'tw', 12),
    ('url1', dt.datetime(2018, 8, 15, 0, 30), 'tw', 25),
    ('url1', dt.datetime(2018, 8, 15, 0, 35), 'tw', 41),
    ('url1', dt.datetime(2018, 8, 15, 0, 38), 'tw', 45),
    ('url1', dt.datetime(2018, 8, 15, 0, 41), 'tw', 59),
    
    ('url1', dt.datetime(2018, 8, 15, 0, 0), 'fb', 5),
    ('url1', dt.datetime(2018, 8, 15, 0, 5), 'fb', 20),
    ('url1', dt.datetime(2018, 8, 15, 0, 11), 'fb', 31),
    ('url1', dt.datetime(2018, 8, 15, 0, 18), 'fb', 45),
    ('url1', dt.datetime(2018, 8, 15, 0, 21), 'fb', 59),
    ('url1', dt.datetime(2018, 8, 15, 0, 30), 'fb', 67),
    ('url1', dt.datetime(2018, 8, 15, 0, 35), 'fb', 110),
    ('url1', dt.datetime(2018, 8, 15, 0, 38), 'fb', 230),
    ('url1', dt.datetime(2018, 8, 15, 0, 41), 'fb', 360),
    
    ('url2', dt.datetime(2018, 8, 15, 0, 0), 'tw', 1),
    ('url2', dt.datetime(2018, 8, 15, 0, 5), 'tw', 7),
    ('url2', dt.datetime(2018, 8, 15, 0, 7), 'tw', 20),
    ('url2', dt.datetime(2018, 8, 15, 0, 15), 'tw', 100),
    ('url2', dt.datetime(2018, 8, 15, 0, 19), 'tw', 555),
    ('url2', dt.datetime(2018, 8, 15, 0, 26), 'tw', 1200),
    
    ('url2', dt.datetime(2018, 8, 15, 0, 0), 'fb', 1),
    ('url2', dt.datetime(2018, 8, 15, 0, 5), 'fb', 3),
    ('url2', dt.datetime(2018, 8, 15, 0, 7), 'fb', 10),
    ('url2', dt.datetime(2018, 8, 15, 0, 15), 'fb', 16),
    ('url2', dt.datetime(2018, 8, 15, 0, 19), 'fb', 25),
    ('url2', dt.datetime(2018, 8, 15, 0, 26), 'fb', 38),
]
df = pd.DataFrame(data, columns=['url', 'ts', 'service', 'total'])
df.head(5)

    url                  ts service  total
0  url1 2018-08-15 00:00:00      tw      1
1  url1 2018-08-15 00:05:00      tw      4
2  url1 2018-08-15 00:11:00      tw      5
3  url1 2018-08-15 00:18:00      tw      8
4  url1 2018-08-15 00:21:00      tw     12

In [5]:
df.to_csv('social_totals.csv', index=False)

In [29]:
df['prev'] = df.sort_values(['url', 'service', 'ts']).groupby(['url', 'service']).total.shift(1).fillna(0)
df.head(5)

    url                  ts service  total  prev
0  url1 2018-08-15 00:00:00      tw      1   0.0
1  url1 2018-08-15 00:05:00      tw      4   1.0
2  url1 2018-08-15 00:11:00      tw      5   4.0
3  url1 2018-08-15 00:18:00      tw      8   5.0
4  url1 2018-08-15 00:21:00      tw     12   8.0

In [31]:
df['delta'] = df['total'] - df['prev']
df.head(5)

    url                  ts service  total  prev  delta
0  url1 2018-08-15 00:00:00      tw      1   0.0    1.0
1  url1 2018-08-15 00:05:00      tw      4   1.0    3.0
2  url1 2018-08-15 00:11:00      tw      5   4.0    1.0
3  url1 2018-08-15 00:18:00      tw      8   5.0    3.0
4  url1 2018-08-15 00:21:00      tw     12   8.0    4.0